<script type="text/javascript">

    var activities = null;
    var selected_activity_index = 0;

    $(function() {
        activities = <%= @activities.to_json.html_safe %>;
        selected_activity_index = parseInt(activities.length / 2);
        renderSelector();
    });

    $(function() {
        $(".selection").live("click", function() {
            clickedID = $(this).attr('activityID');
            currentPositionType = $(this).attr('id').substring(4, 8);
            currentPositionIndex = $(this).attr('id').substring(8);

            if (currentPositionType == 'Prev') {
                for (i = currentPositionIndex; i > 0; i--) {
                    var obj = activities.pop();
                    activities.unshift(obj);
                    renderSelector();
                }
            }
            else {

                for (i = currentPositionIndex; i > 0; i--) {
                    var obj = activities.shift();
                    activities.push(obj);
                }
                renderSelector();
            }

            // renderSelector();
        });
    })

    function activitiesUp() {
        var obj = activities.shift();
        activities.push(obj);
        renderSelector();
    }


    function activitiesDown() {
        var obj = activities.pop();
        activities.unshift(obj);
        renderSelector();
    }

    function activityAdd() {

        var activity_id = $('#itemSelected').attr('activityID');
        var dailyScore = parseInt($('#dailyScore').text());
        var changePoints = parseInt($('#changePoints').text());
        var txn_date = $("#txnDate").val();
        // call ajax to persist
        $.post("/txns", { txn : {txn_date: txn_date, activity_id: activity_id, points: changePoints, comments: '' } });
    }


    function renderSelector() {

        resetSelector();
        setSelected();
        setRemaining();
    }

    function resetSelector() {
        $('#itemSelected').text('');
        $('#itemPrev1').text('');
        $('#itemPrev2').text('');
        $('#itemPrev3').text('');
        $('#itemPrev4').text('');
        $('#itemPrev5').text('');
        $('#itemPrev6').text('');
        $('#itemNext1').text('');
        $('#itemNext2').text('');
        $('#itemNext3').text('');
        $('#itemNext4').text('');
        $('#itemNext5').text('');
        $('#itemNext6').text('');
    }

    function setSelected() {

        // first take care of selected activity
        $('#itemSelected').text(activities[selected_activity_index].activity.title);
        $('#itemSelected').attr('activityID', activities[selected_activity_index].activity.id);
        $('#changePoints').text(activities[selected_activity_index].activity.points);

        if (activities[selected_activity_index].activity.activity_type == 1) {
            $('#activityType').text("+");
            $('#activityType').removeClass("NegativeSign");
            $('#activityType').addClass("PositiveSign");
            // $('#GOButton').removeClass("GONegative");
            // $('#GOButton').addClass("GOPositive");
        }
        else {
            $('#activityType').text("-");
            $('#activityType').removeClass("PositiveSign");
            $('#activityType').addClass("NegativeSign");
            // $('#GOButton').removeClass("GOPositive");
            // $('#GOButton').addClass("GONegative");
        }
    }

    function setRemaining() {

        // set all prior to index
        for (var i = 1; i <= 6; i++) {
            index = selected_activity_index - i;
            if (index >= 0) {
                $('#itemPrev' + i).text(activities[index].activity.title);
                $('#itemPrev' + i).attr('activityID', activities[index].activity.id);
            }
        }

        // set all after the index
        for (var i = 1; i <= 6; i++) {
            index = selected_activity_index + i;
            if (index < activities.length) {
                $('#itemNext' + i).text(activities[index].activity.title);
                $('#itemNext' + i).attr('activityID', activities[index].activity.id);
            }
        }

    }


</script>
<input type='hidden' id='txnDate' value="<%= Date.today.strftime('%m/%d/%Y') %>"/>

<div class='row1'>
  <div class="row1left">myP<img class='logoImage' src="/images/logo.png"/>INTS</div>
  <div class="row1middle" id="cumulativePoints"><%= @cumulative_points %></div>
  <div class="row1right"><img class='userImage' src="/images/amrits.JPG"/></div>
</div>

<div class='row2'>
  <div class="row2left"><%= Date.today.strftime('%A, %B %-d, %Y') %>:</div>
  <div class='row2right' id='dailyScore'><%= @total_score %></div>
</div>

<div class='row3'>
    <div class='row3left'>
      <div id='itemPrev6' class="clickable selection"></div>
      <div id='itemPrev5' class="clickable selection"></div>
      <div id='itemPrev4' class="clickable selection"></div>
      <div id='itemPrev3' class="clickable selection"></div>
      <div id='itemPrev2' class="clickable selection"></div>
      <div id='itemPrev1' class="clickable selection"></div>
    </div>
    <div class='row3right'>
      <img class="clickable" onclick="activitiesUp();" width="48" height="48" src='/images/button-up.gif'/>
    </div>
</div>

<div class='row4'>
  <div class="row4left">
    <div id="itemSelected"></div>
  </div>
  <div class='row4middle'>
  	 <span id="activityType" class="NegativeSign">-</span>
     <span id='changePoints'>20</span>
  </div>
  <div class='row4right'>
    <img align="left" class="clickable" src="/images/go.gif" onclick="activityAdd();" width="64" height="64"/>
  </div>
</div>

<div class='row5'>
    <div class='row5left'>
      <div id='itemNext1' class="clickable selection"></div>
      <div id='itemNext2' class="clickable selection"></div>
      <div id='itemNext3' class="clickable selection"></div>
      <div id='itemNext4' class="clickable selection"></div>
      <div id='itemNext5' class="clickable selection"></div>
      <div id='itemNext6' class="clickable selection"></div>
    </div>
    <div class='row5right'>
      <img class="clickable" onclick="activitiesDown();" width="48" height="48" src='/images/button-down.gif'/>
    </div>
</div>
