<script type="text/javascript">

    var activities = null;
    var selected_activity_index = 0;

    $(function() {
        activities = <%= @activities.to_json.html_safe %>;
        selected_activity_index = parseInt(activities.length / 2);
        renderSelector();
    });

    $(function() {
        $(".Shade").live("click", function() {
            clickedID = $(this).attr('activityID');
            currentPositionType = $(this).attr('id').substring(4, 8);
            currentPositionIndex = $(this).attr('id').substring(8);

            if (currentPositionType == 'Prev') {
                for (i = currentPositionIndex; i > 0; i--) {
                    var obj = activities.pop();
                    activities.unshift(obj);
                    renderSelector();
                }
            }
            else {

                for (i = currentPositionIndex; i > 0; i--) {
                    var obj = activities.shift();
                    activities.push(obj);
                }
                renderSelector();
            }

            // renderSelector();
        });
    })

    function activitiesUp() {
        var obj = activities.shift();
        activities.push(obj);
        renderSelector();
    }


    function activitiesDown() {
        var obj = activities.pop();
        activities.unshift(obj);
        renderSelector();
    }

    function activityAdd() {

        var activity_id = $('#itemSelected').attr('activityID');
        var dailyScore = parseInt($('#dailyScore').text());
        var changePoints = parseInt($('#changePoints').text());
        var txn_date = $("#txnDate").val();
        // call ajax to persist
        $.post("/txns", { txn : {txn_date: txn_date, activity_id: activity_id, points: changePoints, comments: '' } });
    }


    function renderSelector() {

        resetSelector();
        setSelected();
        setRemaining();
    }

    function resetSelector() {
        $('#itemSelected').text('');
        $('#itemPrev1').text('');
        $('#itemPrev2').text('');
        $('#itemPrev3').text('');
        $('#itemPrev4').text('');
        $('#itemPrev5').text('');
        $('#itemPrev6').text('');
        $('#itemNext1').text('');
        $('#itemNext2').text('');
        $('#itemNext3').text('');
        $('#itemNext4').text('');
        $('#itemNext5').text('');
        $('#itemNext6').text('');
    }

    function setSelected() {

        // first take care of selected activity
        $('#itemSelected').text(activities[selected_activity_index].activity.title);
        $('#itemSelected').attr('activityID', activities[selected_activity_index].activity.id);
        $('#changePoints').text(activities[selected_activity_index].activity.points);

        if (activities[selected_activity_index].activity.activity_type == 1) {
            $('#activityType').text("+");
            $('#activityType').removeClass("NegativeSign");
            $('#activityType').addClass("PositiveSign");
            // $('#GOButton').removeClass("GONegative");
            // $('#GOButton').addClass("GOPositive");
        }
        else {
            $('#activityType').text("-");
            $('#activityType').removeClass("PositiveSign");
            $('#activityType').addClass("NegativeSign");
            // $('#GOButton').removeClass("GOPositive");
            // $('#GOButton').addClass("GONegative");
        }
    }

    function setRemaining() {

        // set all prior to index
        for (var i = 1; i <= 6; i++) {
            index = selected_activity_index - i;
            if (index >= 0) {
                $('#itemPrev' + i).text(activities[index].activity.title);
                $('#itemPrev' + i).attr('activityID', activities[index].activity.id);
            }
        }

        // set all after the index
        for (var i = 1; i <= 6; i++) {
            index = selected_activity_index + i;
            if (index < activities.length) {
                $('#itemNext' + i).text(activities[index].activity.title);
                $('#itemNext' + i).attr('activityID', activities[index].activity.id);
            }
        }

    }


</script>
<input type='hidden' id='txnDate' value="<%= Date.today.strftime('%m/%d/%Y') %>"/>
<div>
  <div class='TopSection'>
    <span><span class="logoText">&nbsp;</span><span class="logoText">myP</span><span class="logoText"><img class='logoImage' src="/images/logo.png"/></span><span class="logoText">INTS</span></span>
    <span id="cumulativePoints" class="cumulative"><%= @cumulative_points %></span>
    <img class='userImage' src="/images/amrits.JPG"/>
    <br/> &nbsp;
  </div>

  <div class='MidSection'>
    <div class='MidSectionTopBar'><span class="DateHeading"><%= Date.today.strftime('%A, %B %-d, %Y') %>
      :&nbsp;</span><span id='dailyScore' class='CurrentScore'><%= @total_score %></span></div>
    <div class='leftColumn'>

      <div class='leftColumnTop'><span id='itemPrev6' class='Shade'></span></div>
      <div class='leftColumnTop'><span id='itemPrev5' class='Shade'></span></div>
      <div class='leftColumnTop'><span id='itemPrev4' class='Shade'></span></div>
      <div class='leftColumnTop'><span id='itemPrev3' class='Shade'></span></div>
      <div class='leftColumnTop'><span id='itemPrev2' class='Shade'></span></div>
      <div class='leftColumnTop'><span id='itemPrev1' class='Shade'></span></div>
      <div class='leftColumnSelected'><span id='itemSelected' class='Spotlight'></span></div>
      <div class='leftColumnTop'><span id='itemNext1' class='Shade'></span></div>
      <div class='leftColumnTop'><span id='itemNext2' class='Shade'></span></div>
      <div class='leftColumnTop'><span id='itemNext3' class='Shade'></span></div>
      <div class='leftColumnTop'><span id='itemNext4' class='Shade'></span></div>
      <div class='leftColumnTop'><span id='itemNext5' class='Shade'></span></div>
      <div class='leftColumnTop'><span id='itemNext6' class='Shade'></span></div>

    </div>
    <div class='middleColumn'>
      <div class='middleColumnTop'>
          <img class="clickable" onclick="activitiesUp();" width="96" height="96" src='/images/button-up.gif'></img>
      </div>
      <div class='middleColumnMiddle'>

      </div>
      <div class='middleColumnBottom'>
            <img class="clickable" onclick="activitiesDown();" width="96" height="96" src='/images/button-down.gif'></img>
      </div>
    </div>
    <div class='rightColumn'>
      <div class='rightColumnTop'><br/></div>
      <div class='rightColumnMiddle'>
    	 <span class='PointChange'>
   	    	 <span id="activityType" class="NegativeSign">-</span><span id='changePoints'>20</span>
         </span>
      </div>
      <div class='rightColumnBottom'>
        <img class="clickable" src="/images/go.gif" onclick="activityAdd();" width="120" height="120"></div>
    </div>
  </div>
  <div class='BottomSection'>
    &nbsp; <br/>
    <span class='BottomLink'>Today</span> <span class='BottomLink'>History</span>
    <span class='BottomLink'>Configure</span>
    <br/> &nbsp;
  </div>
</div>
