  <div class="field">
    <%= f.label :action_date %><br />
    <%= f.text_field :action_date %>
  </div>
  <div class="field">
    <%= f.label :activity_id %><br />
    <%= collection_select(:action, :activity_id, Activity.all, :id, :title) %>
  </div>
  <div class="field">
    <%= f.label :points %><br />
    <%= f.text_field :points, :size => 10 %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>

