<div class='activity'> 
  <span class='heading left'><%= activity.title %></span><span class='right'><%= activity.points%></span>
  <br/>
  <br/>
  <span class='description left'><%= activity.description %></span>
  <br/>
  <span class='right'>
    <%= link_to 'Edit', edit_activity_path(activity) %>
    <%= link_to 'Delete', activity, :confirm => 'Are you sure?',:method => :delete %>
  </span>
  <br/>
</div>
