  <div class="fieldRow">
    <div class="label"><%= f.label :title %></div>
    <div class="inputBox"><%= f.text_field :title, :size => 55 %></div>
    <div class="clear"></div>
  </div>
  <div class="fieldRow">
    <div class="label"><%= f.label :points %></div>
    <div class="inputBox"><%= f.text_field :points, :size => 10 %></div>
    <div class="clear"></div>
  </div>
  <div class="fieldRow">
    <div class="label"><%= f.label :activity_type %></div>
    <div class="inputBox"><%= f.text_field :activity_type, :size => 5 %></div>
    <div class="clear"></div>
  </div>

