<!DOCTYPE html>
<html>
<head>
  <title>Points</title>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body background="/images/gradient.png">
 <div class="container">
      <header>
        <nav class="round">
          <ul>
            <li><%= link_to "Configuration", activities_path  %></li>
            <li><%= link_to "Actions", txns_path  %></li>
          </ul>
        </nav>
     </header>
     <br/> 
       <section class="round">
         <%= yield %>
       </section>
 </div>
</body>
</html>
