<!DOCTYPE html>
<html>
<head>
  <title>Points</title>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="topBar">
  <div class='logo'>
     <span>my Points</span>
   </div>
   <div class="userData">
     <span id="cumulativePoints"><%= @cumulative_points %></span>
   </div>
  <div class="navigation">
    <span><a href="/txns/new">Today</a> </span>&nbsp;
    <span><a href="/txns">History</a></span>&nbsp;
    <span><a href="/activities">Configuration</a></span>
  </div>
   <div class="userImageSection"><img class='userImage' src="/images/amrits.JPG"/></div>
   <div class="clear"></div>
</div>
<div class="container">
  <section class="round">
    <%= yield %>
  </section>
</div>
</body>
</html>
